# Entornos y credenciales
.venv/
.env
.vscode/

# Carpeta de experimentación
sandbox/

# Datos y modelos
data/
models/

# Artefactos generados por experimentación (MLflow y Optuna)
experiments/

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info
build/
dist/
wheels/

# Archivos generados por Jupyter Notebooks
.ipynb_checkpoints/
*.nbconvert.ipynb

# Archivos temporales
tmp/
temp/